In [1]:
"""
날짜 : 2023.01.13
이름 : 조수빈
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""
import pymysql

In [10]:
# insert 실습

# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101', '1234', 'Kim', '010-1234-1346', '88');"
cur.execute(sql)
conn.commit() # execute transaction

# DB 종료
conn.close()

print('insert 완료')

insert 완료

In [12]:
# update 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set "
sql += "`name`='John',"
sql += "`hp`='010-4364-4574',"
sql += "`age`='89' "
sql += "where `uid`='p101';"
cur.execute(sql)
conn.commit() # execute transaction

# DB 종료
conn.close()

print('update 완료')

update 완료

In [13]:
# delete 실습
# DB 접속
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid`='p101'; "
cur.execute(sql)
conn.commit() # execute transaction

# DB 종료
conn.close()

print('delete 완료')

delete 완료

In [14]:
# select 실습
conn = pymysql.connect(host='127.0.0.1',
                user='root',
                password='1234',
                db='java1db',
                charset='utf8')

cur = conn.cursor()

sql = "select * from `user1`;"
cur.execute(sql)
conn.commit()

# 데이터 출력
for row in cur.fetchall():
    print('-----------------------')
    print('아이디: ', row[0])
    print('비밀번호: ', row[1])
    print('이름: ', row[2])
    print('휴대폰: ', row[3])
    print('나이: ', row[4])

conn.close()
print('select 완료')

-----------------------
아이디:  A102
비밀번호:  1234
이름:  김춘추
휴대폰:  010-1234-2222
나이:  23
-----------------------
아이디:  A103
비밀번호:  1234
이름:  김김김
휴대폰:  010-1234-1234
나이:  5555
-----------------------
아이디:  A104
비밀번호:  1234
이름:  김수한무
휴대폰:  010-1245-1235
나이:  7888
-----------------------
아이디:  testtest1
비밀번호:  1234
이름:  김김감
휴대폰:  010-1234-3464
나이:  323
select 완료